/*
Primary SCSS File
for jhchang.com
Author: JH Chang
*/

//breakpoints - compatible with bootstrap
//bootstrap actually prefers values to be slightly less than the breakpoint when using max-width instead of min-width
$break-xxl: 1599.98px;
$break-xl: 1199.98px;
$break-lg: 991.98px;
$break-md: 767.98px;
$break-sm: 575.98px;
$break-xs: 479.98px;
//colors
$bg-color:#fff;
$black:#000;
$offblack:#212529;
$main-color:#012A49;
$white:#fff;
$offwhite:#F4F4F4;
$orange:#e34900;
$font-family:"Inconsolata",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

/* general CSS blocks */

%absolute-center{
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
%absolute-centerX{
    position:absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
%absolute-centerY{
    position:absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
%absolute-cancel{
    top:initial;
    bottom:initial;
    left:initial; 
    right:initial;
    position:relative;
    transform:initial;
}
%full-bg{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
}
%absolute-fill{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

//transition timing for skill list
@mixin transition {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      transition: all .3s #{$i * .2}s ease-in;
    }
  }
}

// GENERAL
*{
    transition: all .6s ease, width 0s, z-index 0s, border 0s;
}

body{
	/*
    background-color:$bg-color;
    font-size:$normal-text;
    */
    max-width:100%;
    height:auto;
}
body, div, p, h1, h2, h3, h4, h5, a, span, button,ul,li, strong, small, label, input, select, textarea, button, option, ul li{
	/*
    color:$main-color;
    font-family:$font-family;
    line-height:1.3em;
    */
    font-family:$font-family;
    color:$offwhite
}
ul{
}
input,select,textarea{
    &::placeholder{
    }
}
a{
    color:$white;
    &:visited {
        color:$white;
    }
    &:hover,&:visited:hover, &:visited:focus, &:focus, &:focus-within{
        color:$white;
    }
    &.hover-left{
        &:hover{
            margin-left:10px;
            text-decoration:none;
        }
    }
}
img{
    max-width:100%;
} 

.wrapper{
    overflow:hidden;
}
.margin-center{
    margin:0 auto;
}
.shrink-container{
    max-width:640px;
    @media screen and (max-width:$break-md){
        max-width:540px;
    }
}

//Basic divs

.jh-block{
    background-color:$offblack;
    padding:45px 0;
    .container{
        padding-left:30px;
        padding-right:30px;
    }
}
.rounded-img{
    width:90%;
    height:90%;
    overflow:hidden;
    border-radius:360px;
    max-width:360px;
    max-height:360px;
}

//CONTACT

#contact-bar{
    display:flex;
    height:45px;
    width:100%;
    opacity:0;
    justify-content:center;
    align-content:center;
    position:fixed;
    top:0;
    left:0;
    text-align:center;
    z-index:5;
    background:$white;

    .contact-group{
        display:flex;
        padding-top:15px;
        width:240px;
        justify-content:space-between;
        a{
            display:inline-block;
            margin:0 10px;
            color:$offblack;
            &:hover,&:visited:hover, &:visited:focus, &:focus, &:focus-within{
                color:$black;
            }
        }   
    }
}

//HERO

#hero{
	height:100vh;
	width:100%;
	background:$black;
    .loader{
        @extend %absolute-center;
        z-index:1;
        color:white;
        font-size:30px;
        animation: rotation 3.5s infinite linear;
    }
}
.panel-group{
    height:100vh;
    width:100%;
    left:100%;
    position:absolute;
    overflow:hidden;
}
.panel{
    background:$main-color;
    height:20vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-content:center;
    position:relative;
    text-align:center;
    left:100%;
    z-index:2;
    padding:0 15px;
    h1, p, #anim-logo{
        align-self:center;
    }
    &.active{
        left:0;
    }
    &.panel-text{
    }
    .sq-panel{
        display:flex;
        width:20%;
        position:relative;
        transform-style: preserve-3d;
        transition: all .6s linear;
        .white{
            @extend %absolute-fill;
            background:white;
            backface-visibility: hidden;
        }
        .black{
            @extend %absolute-fill;
            background:$black;
            backface-visibility: hidden;
            transform: rotateY(180deg);
        }
        &.flip{
            transform: rotateY(180deg);
        }
    }
    &.contact-panel{
        pointer-events:none;
    }
}
#anim-logo{
    height:100px;
    width:125px;
    position:relative;
    align-self:center;
    &:before{
        font-weight:900;
        font-family: "Font Awesome 5 Free";
        content:"\f109";
        font-size:100px;
        line-height:1;
    }
    p{
        position:absolute;
        left: 25px;
        top: 12px;
        width: 75px;
        height: 50px;
        overflow:hidden;
        font-size:4px;
        margin:0;
        text-align:left;
        padding:1px;
        word-break:break-all;
    }
}

//About Me

#about-me{
    .rounded-img{
        margin-bottom:30px;
    }
    p, ul, li, h3{
        color:$offwhite;
    }
    #skill-list{
        ul{
            padding:0;
            list-style:none;
            margin-left:-15px;
            margin-right:-15px;
            li{
                display:inline-block;
                margin: 5px 15px;
                padding:3px 5px;
                background:$black;
                cursor:default;
                opacity:0;
                @include transition();
            }

        }
    }
}

//Portfolio
#portfolio{
    background:$main-color;
    p, ul, li, h3,a{
        color:$offwhite;
    }
    #portfolio-list{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top:30px;
        .port-item{
            background-color:$black;
            background-size:cover;
            background-position:center center;
            padding-top:65%;
            position:relative;
            .port-title{
                position:absolute;
                background: rgba(0,0,0,.6);
                text-align:center;
                padding:3px 5px;
                bottom:0;
                left:0;
                width:100%;
                a{

                }
            }
            &.port-text{
                h3{
                    @extend %absolute-center;
                }
            }
        }
        @media only screen and (max-width:$break-lg){
            grid-template-columns:1fr 1fr;
            grid-template-rows:1fr 1fr 1fr 1fr 1fr;
            .port-item{
                padding-top:35%;
            }
            .port-text{
                grid-column:1 / 3;
            }
        }
    }
}

//Animation cycles
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}