/*
Primary SCSS File
for jhchang.com
Author: JH Chang
*/

//breakpoints - compatible with bootstrap
//bootstrap actually prefers values to be slightly less than the breakpoint when using max-width instead of min-width
$break-xxl: 1599.98px;
$break-xl: 1199.98px;
$break-lg: 991.98px;
$break-md: 767.98px;
$break-sm: 575.98px;
$break-xs: 479.98px;
//colors
$bg-color:#fff;
$black:#000;
$offblack:#212529;
$main-color:#012A49;
$white:#fff;
$offwhite:#F4F4F4;
$orange:#e34900;

/* general CSS blocks */

%absolute-center{
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
%absolute-centerX{
    position:absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
%absolute-centerY{
    position:absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
%absolute-cancel{
    top:initial;
    bottom:initial;
    left:initial; 
    right:initial;
    position:relative;
    transform:initial;
}
%full-bg{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
}

// GENERAL
*{
    transition: all .6s ease, width 0s, z-index 0s, border 0s;
}

body{
	/*
    background-color:$bg-color;
    font-size:$normal-text;
    */
}
body, div, p, h1, h2, h3, h4, h5, a, span, button,ul,li, strong, small, label, input, select, textarea, button, option, ul li{
	/*
    color:$main-color;
    font-family:$font-family;
    line-height:1.3em;
    */
}
ul{
}
input,select,textarea{
    &::placeholder{
    }
}
a{
    color:$black;
    &:visited {
        color:$black;
    }
    &:hover,&:visited:hover, &:visited:focus, &:focus, &:focus-within{
        color:$black;
    }
    &.hover-left{
        &:hover{
            margin-left:10px;
            text-decoration:none;
        }
    }
}
img{
    max-width:100%;
} 

.wrapper{
    overflow:hidden;
}

//HERO

#hero{
	height:100vh;
	width:100%;
	background:$black;
    .loader{
        @extend %absolute-center;
        z-index:1;
        color:white;
        font-size:30px;
        animation: rotation 3.5s infinite linear;
    }
}

.panel{
    background:$white;
    height:20vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-content:center;
    position:relative;
    text-align:center;
    left:100%;
    z-index:2;
    h1, p, #anim-logo{
        align-self:center;
    }
    &.active{
        left:0;
    }
    &.panel-text{
    }
}
#anim-logo{
    height:100px;
    width:125px;
    position:relative;
    align-self:center;
    &:before{
        font-weight:900;
        font-family: "Font Awesome 5 Free";
        content:"\f109";
        font-size:100px;
        line-height:1;
    }
    p{
        position:absolute;
        left: 25px;
        top: 12px;
        width: 75px;
        height: 50px;
        overflow:hidden;
        font-size:4px;
        margin:0;
        text-align:left;
        padding:1px;
        word-break:break-all;
    }
}

//Animation cycles
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}